html {
  scroll-behavior: smooth !important;
}

.container {
  width: 100%;
  padding: 3rem 0 6rem;

  h1 {
    font-size: 3rem;
    margin-top: 0;
  }
  h2 {
    line-height: 2.25rem;
  }

  h3 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }
  h4 {
    margin: 0 0 0.2rem 0;
  }
  h5 {
    font-size: 1.25rem;
    margin: 0;
  }

  p {
    margin: 0;
  }
  img {
    height: 100%;
  }

  ul {
    margin: 0 0 1.5rem 0;
    padding: 0ch;
  }
  li {
    margin: 0;
    padding: 0 0 0.5rem 0.5rem;
    list-style: none;
  }
  a {
    color: #555;
  }
  b {
    font-weight: 600;
  }

  .underline {
    border-bottom: 1px solid #bbbbbb;
    width: fit-content;
  }

  .contents {
    border-bottom: 1px solid #bbbbbb;
    padding: 50px 0;
  }

  .flex {
    display: flex;
    align-items: flex-start;
  }

  .hidden {
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
  }

  .text_highlight {
    color: #ffbb33;
  }
  .text_under_highlight {
    border-bottom: 1px solid #ffbb33;
    width: fit-content;
  }
  .text_margin {
    margin-bottom: 2rem;
  }
  .team_title {
    font-size: 1.5rem;
    color: #999;
    width: fit-content;
    margin: 2rem 0 1rem;
  }

  .team_desc {
    margin-bottom: 2rem;
  }

  .project_title {
    margin-right: 32px;
    width: 180px;
  }

  .project_content {
    flex: 1;
  }

  .list_title {
    font-weight: 600;
    margin: 0.5rem 0;
  }

  .project {
    li {
      list-style: square;
      margin-left: 1rem;
    }
  }

  .skills {
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin: 0;
    max-height: 32px;
    li {
      padding: 0;
    }
  }
  .period {
    font-size: 14px;
  }
}
